<template>
  <div class="about">
    <div>{{ count }} </div>
    <h1>This is an about page-hua1</h1>
    <div @click="add">add</div>
    <div>
      <h1>vue-loading</h1>
      <Loading></Loading>
    </div>
  </div>
</template>

<script>
import {
  mapState
} from 'vuex';
export default {
  name: 'About',
  data() {
    return {};
  },
  computed: {
    ...mapState({
      count: state => state.about.count
    }),
  },
  mounted() {
  },
  methods: {
    add() {
      this.$store.dispatch('about/addCount', 3);
    }
  }
}
</script>
